.BlogPostPage {
}

.BlogPostTitleContainer {
  display: flex;
  min-height: 420px;
  width: 100%;
  overflow-x: hidden;
}

.BlogPost {
  max-width: 1000px;
  margin: auto;
  margin-top: calc(-1 * var(--space-12));
  padding: var(--space-1);
  position: relative;
  z-index: 710;
}

@media screen and (min-width: 1200px) {
  .BlogPost {
    padding: var(--space-2);
  }
}

.BlogPost .content {
  margin-top: var(--space-8);
}

/* Global styles for blog content */

.BlogPost a {
  text-decoration: none;
  border-bottom: 1px solid transparent;

  transition-property: border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 220ms;
}

@media (prefers-reduced-motion: no-preference) {
  .BlogPost a,
  .BlogPost blockquote a {
    transition-property: color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 220ms;
  }
}

.BlogPost a:focus,
.BlogPost a:hover {
  color: var(--color-link-lighter);
  border-color: var(--color-link-lighter);
}
.BlogPost a:active {
  color: var(--color-link-darker);
}

.BlogPost img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: var(--space-2) auto;
}

.BlogPost li::marker {
  font-family: var(--font-family-mono);
  color: var(--color-gray-900);
}

.BlogPost li {
  margin-bottom: 1.25rem;
}

.BlogPost blockquote {
  background-color: var(--color-secondary);
  border: 1.5px solid var(--color-black);
  padding: var(--space-1-5) var(--space-3);
  margin: var(--space-2) 0;
}

.BlogPost blockquote p {
  color: var(--color-text);
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  .BlogPost blockquote p {
    color: var(--color-text-inverted);
  }
}
.BlogPost blockquote a {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}
.BlogPost blockquote a:hover {
  border-color: var(--color-primary);
}

.BlogPost blockquote,
.BlogPost pre,
.BlogPost img {
  border-radius: var(--space-0-75);
}

.BlogPost pre {
  padding: var(--space-2);
}

.BlogPost li,
.BlogPost p {
  line-height: 200%;
  margin-bottom: var(--space-3);
}
@media screen and (min-width: 1200px) {
  .BlogPost,
  .BlogPost p {
    font-size: var(--font-size-9);
  }
}
.BlogPost li code,
.BlogPost p code {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: var(--space-0-25);
  padding: var(--space-0-25) var(--space-0-75);
  transition-property: color, background-color;
  transition-timing-function: ease-in;
  transition-duration: 220ms;
}
.BlogPost li code:hover,
.BlogPost p code:hover {
  background-color: var(--color-primary-darker);
}
.BlogPost blockquote code {
  color: var(--color-white);
  background-color: var(--color-black);
}

/* 
* When user clicks header link and scrolls, this adds padding above.
*/
.BlogPost h1,
.BlogPost h2,
.BlogPost h3 {
  scroll-margin-top: var(--space-10);
}

.BlogPost {
  --heading-h1: var(--font-size-14);
  --heading-h2: var(--font-size-13);
  --heading-h3: var(--font-size-12);
  --heading-h4: var(--font-size-11);
  --heading-h5: var(--font-size-10);
  --heading-h6: var(--font-size-9);
}
@media screen and (min-width: 1200px) {
  .BlogPost {
    --heading-h1: var(--font-size-15);
    --heading-h2: var(--font-size-14);
    --heading-h3: var(--font-size-13);
    --heading-h4: var(--font-size-12);
    --heading-h5: var(--font-size-11);
    --heading-h6: var(--font-size-10);
  }
}
