---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import RootLayout from '../../layouts/RootLayout.astro';
import Stack from '../../components/primitives/Stack/Stack';
import SectionHeading from '../../components/page/Frontpage/SectionHeading/SectionHeading';
import SelectedBlogList from '../../components/page/Frontpage/SelectedBlogs/SelectedBlogList';
import type { SelectedBlogData } from '../../data/selected-blogs';
import PageHeader from '../../layouts/PageHeader.astro';
import Container from '../../components/primitives/Container/Container';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const sortedPosts = posts.reduce((merge, post) => {

	const year = post.data.date.getFullYear();

	if(!(year in merge)) {
		merge[year] = [];
	}
	merge[year].push({
		title: post.data.title,
		url: `/blog/${post.id}/`
	});

	return merge
}, {} as Record<string, SelectedBlogData[]>)

const sortedPostsKeys = Object.keys(sortedPosts).reverse();

---

<RootLayout title="Blog Archive">
	<Container>
		<h1>Blog</h1>
		<Stack gap="var(--space-5)">
			{
				sortedPostsKeys.map(year => (
					<Stack key={year} gap="var(--space-6)">
						<h2>{year}</h2>
						<SelectedBlogList posts={sortedPosts[year]} />
					</Stack>
				))
			}
		</Stack>
	</Container>
</RootLayout>
