.SkillList {
  padding: var(--space-2);
  margin-bottom: var(--space-10);
}

.SkillListItem {
  border: 1px solid var(--color-black);
  padding: var(--space-0-75) var(--space-1-5);

  color: var(--color-black);
  border-radius: var(--space-0-5);
  font-size: var(--font-size-6);
  font-family: var(--font-family-mono);
}

@media screen and (min-width: 1200px) {
  .SkillList {
    padding: 0;
  }
}
