.FeaturedWorkSlider {
  width: 100%;
  height: 550px;
  /* overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory; */

  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
.FeaturedWorkSlider .slides {
  padding: var(--space-4);
  display: flex;
  gap: var(--space-2);
  /* display: inline-block; */
}

.FeaturedWorkSlide {
  width: 250px;
  /* width: 775px; */
  /* flex: 1; */
  height: 450px;
  border-radius: var(--space-1);

  background-size: cover;
  /* flex-shrink: 0; */
  /* scroll-snap-align: center; */
  transition: width 300ms cubic-bezier(0.86, 0, 0.07, 1);

  position: relative;
}

.FeaturedWorkSlide .info {
  min-width: 300px;
  position: absolute;
  bottom: var(--space-1);
  left: calc(-1 * var(--space-1));
  padding: var(--space-1);
  border-radius: var(--space-0-75);

  background-color: var(--color-secondary);

  opacity: 0;
  transform: translateX(calc(-1 * var(--space-2)));
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 420ms;
}

.FeaturedWorkSlide:hover {
  width: 775px;
}
.FeaturedWorkSlide:hover .info {
  opacity: 1;
  transform: translateX(0);
}

.FeaturedWorkSlide h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: var(--font-size-10);
  margin-bottom: var(--space-0-75);
}

.FeaturedWorkSlide .tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: var(--space-0-75);
}
.FeaturedWorkSlide .tags li {
  border: 1px solid var(--color-black);
  border-radius: var(--space-0-5);
  padding: var(--space-0-5) var(--space-0-75);
}
