.ResourcePreview.sticky {
  position: sticky;
  top: 0;
  align-self: flex-start;
}
.ResourcePreview {
  padding: var(--space-3);
}
.ResourcePreview .images {
  max-height: 40vh;
  align-items: flex-start;
}

.ResourcePreview img {
  width: auto;
  max-width: 100%;
  height: 100%;
  border-radius: var(--space-0-75);
}

@media screen and (max-width: 1200px) {
  .ResourcePreview.sticky {
    display: none;
  }
  .ResourcePreview img {
    max-height: 20vh;
  }
  .ResourcePreview p {
    display: none;
  }
  .ResourcePreview a {
    font-size: var(--font-size-4);
  }
}
