.ResourceListItem {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  align-items: stretch;

  cursor: pointer;
}

.ResourceListItem > div {
  position: relative;
  align-content: center;
  padding: var(--space-0-5) var(--space-1);
}

@media screen and (max-width: 1200px) {
  .ResourceListItem > div.name h3 {
    font-size: var(--font-size-8);
  }
}

.ResourceListItem > div:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: var(--space-0-75);

  transform: scaleX(0);
  transform-origin: left center;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 420ms;
}
.ResourceListItem.selected > div:before,
.ResourceListItem:hover > div:before {
  transform: scaleX(1);
}

.ResourceListItem.selected > div.icons:before,
.ResourceListItem:hover > div.icons:before {
  background-color: var(--color-black);
}

.ResourceListItem.selected > div.name:before,
.ResourceListItem:hover > div.name:before {
  background-color: var(--color-secondary);
  /* transition-delay: 220ms; */
}

.ResourceListItem a {
  color: var(--color-text);
  text-decoration: none;
}

.ResourceListItem h3 {
  margin-top: 0;
}

.ResourceListItem > div.icons {
  color: var(--color-text-secondary);
}

.ResourceListItem.selected > div.icons svg,
.ResourceListItem:hover > div.icons svg {
  color: var(--color-secondary);
}

/* Expandable Preview */

.ResourceListItemPreview {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.26s ease-in;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .ResourceListItemPreview {
    display: none !important;
  }
}

.ResourceListItemPreview.selected {
  grid-template-rows: 1fr;
}

.ResourceListItemPreview {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.26s ease-in;
  overflow: hidden;
}

.ResourceListItemPreview > div {
  min-height: 0;
  transition: visibility 1s;
  visibility: hidden;
}

.ResourceListItemPreview.selected > div {
  visibility: visible;
}
