.BlogPostTitleContainer {
  position: relative;
}
.BlogPostTitle {
}

.BlogPostTitle .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.BlogPostTitle h1 {
  position: relative;
}

.BlogPostTitle h1::before,
.BlogPostTitle h1::after {
  content: attr(data-content);
  position: absolute;

  -webkit-text-stroke: 1.5px var(--color-text);
  /* text-stroke: 1.5px var(--color-text); */
  color: transparent;
}

.BlogPostTitle h1::after {
  right: -100%;
}

.BlogPostTitle h1::before {
  left: -100%;
}

.BlogPostTitleBG {
}
