.BlogPostTitleContainer {
  position: relative;
}
.BlogPostTitle {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
}

.BlogPostTitle .text {
  display: flex;
  justify-content: center;
}

.BlogPostTitle h1 {
  position: relative;
  margin: 0;
}

.BlogPostTitle h1::before,
.BlogPostTitle h1::after {
  content: attr(data-content);
  position: absolute;

  -webkit-text-stroke: 1.5px var(--color-text);
  /* text-stroke: 1.5px var(--color-text); */
  color: transparent;
  user-select: none;
}

.BlogPostTitle h1::after {
  right: -100%;
}

.BlogPostTitle h1::before {
  left: -100%;
}

.BlogPostTitleBG {
  position: relative;
}

.BlogPostTitleBGOverlay {
  position: absolute;
  inset: 0;
  background: #161616;
  background: linear-gradient(
    0deg,
    rgba(206, 204, 197, 1) 0%,
    rgba(206, 204, 197, 0) 100%
  );
  user-select: none;
}
