@keyframes cursor {
  0% {
    cursor:
      url("/images/cursor/cursor-1.png") 40 40,
      auto;
  }
  20% {
    cursor:
      url("/images/cursor/cursor-2.png") 40 40,
      auto;
  }
  40% {
    cursor:
      url("/images/cursor/cursor-3.png") 40 40,
      auto;
  }
  60% {
    cursor:
      url("/images/cursor/cursor-4.png") 40 40,
      auto;
  }
  80% {
    cursor:
      url("/images/cursor/cursor-5.png") 40 40,
      auto;
  }
  100% {
    cursor:
      url("/images/cursor/cursor-6.png") 40 40,
      auto;
  }
}

.BlogPostTitleContainer {
  position: relative;
  cursor:
    url("/images/cursor-1.png") 40 40,
    auto;
  animation: cursor 420ms infinite;
}

.BlogPostTitle {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  z-index: 420;
}

.BlogPostTitle .text {
  display: flex;
  justify-content: center;
}

@keyframes slideLeftAndRight {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(10%);
  }
}

.BlogPostTitle h1 {
  position: relative;
  margin: 0;
  color: var(--color-text);

  transform: translateX(0);
  animation-name: slideLeftAndRight;
  animation-duration: 4.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.BlogPostTitle:hover h1 {
  animation-play-state: paused;
}

.BlogPostTitle h1::before,
.BlogPostTitle h1::after {
  content: attr(data-content);
  position: absolute;

  -webkit-text-stroke: 1.5px var(--color-text);
  /* text-stroke: 1.5px var(--color-text); */
  color: transparent;
  user-select: none;
}

.BlogPostTitle h1::after {
  right: -100%;
}

.BlogPostTitle h1::before {
  left: -100%;
}

.BlogPostTitleBG {
  position: relative;
}

.BlogPostTitleBGOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    var(--color-gray-900) 0%,
    rgba(206, 204, 197, 0) 100%
  );
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  .BlogPostTitleBGOverlay {
    background: linear-gradient(
      0deg,
      var(--color-gray-900) 0%,
      rgba(25, 24, 24, 0) 100%
    );
  }
}
