.TableOfContentsToggle {
  /* display: flex;
  padding: var(--space-1) var(--space-1-5);
  border-radius: var(--space-0-5);
  color: var(--color-black);
  background: transparent;
  border: 1.5px solid var(--color-black); */
  border: 0;
  padding-right: var(--space-6);
  font-size: var(--font-size-4);
  z-index: 710;
}
