.TableOfContentsList .list a {
  color: var(--color-text);
  text-decoration: none;
  padding: var(--space-0-5) var(--space-0-75);

  position: relative;
}
.TableOfContentsList .list span {
  position: relative;
  z-index: 420;
}
.TableOfContentsList .list a.h2,
.TableOfContentsList .list a.h3 {
  color: var(--color-gray-900);
}
.TableOfContentsList .list a:hover {
  color: var(--color-primary);
}

.TableOfContentsList .list .h2 {
  margin-left: var(--space-1);
}
.TableOfContentsList .list .h3 {
  margin-left: var(--space-2);
}

.TableOfContentsList .list a code {
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: var(--space-0-25);
  padding: var(--space-0-25) var(--space-0-75);
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 420ms;
}
.TableOfContentsList .list a code:hover {
  background-color: var(--color-primary);
}

.TableOfContentsList .list .h2 code,
.TableOfContentsList .list .h3 code {
  background-color: var(--color-gray-900);
}

.TableOfContentsList .list a.selected {
  color: var(--color-text);
}
.TableOfContentsList .list a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--color-secondary);
  border-radius: var(--space-0-5);
  z-index: 2;

  transform-origin: left center;
  transform: scaleX(0);

  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 220ms;
}
.TableOfContentsList .list a.selected:before {
  transform: scaleX(1);

  animation-name: slideOpen;
  animation-duration: 420ms;
  animation-timing-function: ease-in-out;
}

@keyframes slideOpen {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
