.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space-0-75) var(--space-2);
  gap: var(--space-1);

  background-color: var(--color-primary);
  border-radius: var(--space-0-5);

  color: var(--color-gray-500);
  font-size: var(--font-size-8);
  font-family: var(--font-family-heading);
  text-decoration: none;
  text-transform: uppercase;

  position: relative;
  /* transition-property: padding-right; */
}

.Button,
.Button > * {
  transition-timing-function: ease-in-out;
  transition-duration: 220ms;
}

/* Clear styles */
.Button.secondary,
.Button.ghost {
  color: var(--color-gray-500);
  border-color: var(--color-primary);
  filter: drop-shadow(0px 2px 6px var(--gray-10));
  box-shadow: none;
  transition:
    background-color 420ms var(--easing-in-out-quart),
    border-color 420ms var(--easing-in-out-quart),
    filter 420ms var(--easing-in-out-quart);
}

.Button.secondary {
  background: var(--gray-1);
}

.Button.outline,
.Button.ghost {
  background: transparent;
}

.Button.outline {
  border: 1.5px solid var(--color-gray-500);
  border-radius: var(--space-0-5);
}

.Button.secondary:focus,
.Button.secondary:hover {
  background: var(--gray-3);
}

.Button.ghost:focus,
.Button.ghost:hover {
  background: var(--gray-1);
}

.Button.secondary:focus,
.Button.ghost:focus,
.Button.secondary:hover,
.Button.ghost:hover {
  filter: drop-shadow(0px 2px 4px var(--gray-10));
  border-color: var(--gray-9);
}

.Button.secondary:active,
.Button.ghost:active {
  filter: drop-shadow(0px 2px 2px var(--gray-10));
}

.Button[data-selected="true"],
.Button.outline:focus,
.Button.outline:hover {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
