:root {
  color-scheme: light dark;

  /* Fonts */
  --font-family: "Schibsted Grotesk", sans-serif;
  --font-family-heading: "Schibsted Grotesk", sans-serif;
  --font-family-mono: "IBM Plex Mono", sans-serif;

  /* Text-size styles */
  --font-size-1: 0.56rem;
  --font-size-2: 0.62rem;
  --font-size-3: 0.69rem;
  --font-size-4: 0.75rem;
  --font-size-5: 0.81rem;
  --font-size-6: 0.88rem;
  --font-size-7: 0.94rem;
  --font-size-8: 1.06rem;
  --font-size-9: 1.25rem;
  --font-size-10: 1.5rem;
  --font-size-11: 1.62rem;
  --font-size-12: 1.75rem;
  --font-size-13: 2rem;
  --font-size-14: 2.5rem;
  --font-size-15: 4rem;
  --font-size-16: 6rem;
  --font-size-17: 8rem;

  /* Text component specific sizing */
  /* base size: --body-1 (16px) */
  --title-1: 128px;
  --title-2: 2.5rem;
  --title-3: 2rem;
  --heading-h1: var(--font-size-13);
  --heading-h2: var(--font-size-12);
  --heading-h3: var(--font-size-11);
  --heading-h4: var(--font-size-10);
  --heading-h5: var(--font-size-9);
  --heading-h6: var(--font-size-8);
  --label-1: 1.06rem;
  --label-2: 0.94rem;
  --label-3: 0.81rem;
  --label-4: 0.75rem;
  --label-5: 0.69rem;
  --body-1: 1rem;
  --body-2: 0.88rem;
  --body-3: 0.75rem;
  --tiny: 0.62rem;
  --tiny--extended: 0.62rem;
  --micro: 0.56rem;

  /* Spacing */
  --space-0: 0px;
  --space-0-25: 2px;
  --space-0-5: 4px;
  --space-0-75: 8px;
  --space-1: 16px;
  --space-1-25: 20px;
  --space-1-5: 24px;
  --space-2: 28px;
  --space-2-5: 32px;
  --space-3: 36px;
  --space-3-5: 40px;
  --space-4: 44px;
  --space-true: 44px;
  --space-4-5: 48px;
  --space-5: 52px;
  --space-5-5: 59px;
  --space-6: 64px;
  --space-6-5: 69px;
  --space-7: 74px;
  --space-7-6: 79px;
  --space-8: 84px;
  --space-8-5: 89px;
  --space-9: 94px;
  --space-9-5: 99px;
  --space-10: 104px;
  --space-11: 124px;
  --space-12: 144px;
  --space-13: 164px;
  --space-14: 184px;
  --space-15: 204px;
  --space-16: 224px;
  --space-17: 224px;
  --space-18: 244px;
  --space-19: 264px;
  --space-20: 284px;

  /* Breakpoints */
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 600px;
  --breakpoint-computer: 992px;
  --breakpoint-desktop: 1200px;
  --breakpoint-widescreen: 1600px;

  /* Animation */
  --easing-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --easing-in-out-quart: cubic-bezier(0.25, 1, 0.5, 1);

  /* Colors */
  --color-white: #fefefe;
  --color-gray: #ceccc5;
  --color-light-gray: #e8e7e0;
  --color-primary: #0b08ef;
  --color-primary-dark: #0000af;
  --color-primary-darker: #000094;
  --color-primary-lighter: #6b69fa;
  --color-secondary: #80cbcc;
  --color-secondary-hover: #337e7f;
  --color-black: #101011;

  --color-gray-900: #ceccc5;
  --color-gray-800: #d2d0ca;
  --color-gray-700: #d6d4ce;
  --color-gray-600: #dad8d3;
  --color-gray-500: #dedcd8;
  --color-gray-400: #e2e0dc;
  --color-gray-300: #e6e4e1;
  --color-gray-200: #e9e9e5;
  --color-gray-100: #f9f9f8;

  --color-secondary-900: #022727;
  --color-secondary-800: #023a3b;
  --color-secondary-700: #034d4f;
  --color-secondary-600: #046162;
  --color-secondary-500: #057d7f;
  --color-secondary-400: #2a9091;
  --color-secondary-300: #3aa1a3;
  --color-secondary-200: #4cb7b9;
  --color-secondary-100: #5abcbd;

  /* Semantic */
  --color-background: var(--color-gray-900);
  --color-text: var(--color-gray-100);
  --color-text-inverted: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-900);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-900: #191818;
    --color-gray-800: #292927;
    --color-gray-700: #5b5a57;
    --color-gray-600: #6b6a66;
    --color-gray-500: #7c7a76;
    --color-gray-400: #8c8b86;
    --color-gray-300: #9d9b96;
    --color-gray-200: #adaba5;
    --color-gray-100: #ceccc5;

    --color-secondary-900: #057d7f;
    --color-secondary-800: #2a9091;
    --color-secondary-700: #3aa1a3;
    --color-secondary-600: #4cb7b9;
    --color-secondary-500: #5abcbd;
    --color-secondary-400: #80cbcc;
    --color-secondary-300: #8fd2d3;
    --color-secondary-200: #b4e3e3;
    --color-secondary-100: #d6f3f3;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --heading-h1: var(--font-size-14);
    --heading-h2: var(--font-size-13);
    --heading-h3: var(--font-size-12);
    --heading-h4: var(--font-size-11);
    --heading-h5: var(--font-size-10);
    --heading-h6: var(--font-size-9);
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --heading-h1: var(--font-size-15);
    --heading-h2: var(--font-size-14);
    --heading-h3: var(--font-size-13);
    --heading-h4: var(--font-size-12);
    --heading-h5: var(--font-size-11);
    --heading-h6: var(--font-size-10);
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --heading-h1: var(--font-size-16);
    --heading-h2: var(--font-size-15);
    --heading-h3: var(--font-size-14);
    --heading-h4: var(--font-size-13);
    --heading-h5: var(--font-size-12);
    --heading-h6: var(--font-size-11);
  }
}
