h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: normal;
  margin-bottom: 0;
  line-height: 150%;
  color: var(--color-text);
}

h1 {
  font-size: var(--heading-h1);
}

h2 {
  font-size: var(--heading-h2);
}

h3 {
  font-size: var(--heading-h3);
}

h4 {
  font-size: var(--heading-h4);
}

h5 {
  font-size: var(--heading-h5);
}

h6 {
  font-size: var(--heading-h6);
}

p,
ul {
  font-family: var(--font-family);
  font-size: var(--body-1);
  color: var(--color-text);
}
p {
  line-height: 200%;
}
button {
  font-family: var(--font-family-mono);
  text-transform: uppercase;
}
pre,
code {
  font-family: var(--font-family-mono);
}
