.List {
  list-style-image: url("/icons/3d-bullet-light.svg");
}

.List li {
  margin-bottom: var(--space-0-75);
}

.List li::marker {
  font-size: 1.5rem;
}

.List.Ordered {
  list-style-image: none;
  list-style-type: decimal;
  color: var(--color-text);

  counter-reset: list;
  list-style-type: none;
  padding: 0;
}

.List.Ordered li {
}

.List.Ordered li::before {
  font-size: 0.8em;
  font-family: var(--font-family-mono);
  counter-increment: list;
  content: counter(list) ".";
  margin-right: var(--space-0-75);

  border: 1px solid var(--color-gray-700);
  padding: var(--space-0-5);
  border-radius: var(--space-0-5);
}
