.Header {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  padding: var(--space-2) var(--space-2-5);

  filter: invert(1);
  mix-blend-mode: difference;

  z-index: 710;
}

.Logotype {
  position: relative;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  font-family: var(--font-family-heading);

  color: var(--color-black);

  margin-right: var(--space-6);

  text-decoration: none;
  transform: rotate(90deg);
  transform-origin: top left;
}

@media screen and (min-width: 600px) {
  .Logotype {
    transform: rotate(0);
  }
}
