.Header {
  display: flex;
  flex-direction: row;

  padding: var(--space-1-5) var(--space-2-5);
}

.Logotype {
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  font-family: var(--font-family-heading);

  color: var(--color-black);

  margin-right: var(--space-2-5);

  text-decoration: none;
}
