.Header {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  padding: var(--space-2) var(--space-2-5);

  filter: invert(1);
  mix-blend-mode: difference;

  z-index: 710;
}

.Logotype {
  position: relative;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  font-family: var(--font-family-heading);

  color: var(--color-black);

  margin-right: var(--space-6);

  text-decoration: none;
}

.Logotype div {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 1ch;
  left: 0;
}

.Logotype:hover div {
  height: 1ch;
  top: 1ch;
  transition-property: height, top;
  transition-timing-function: ease-in-out;
  transition-duration: 420ms;
}

.Logotype span {
  position: relative;
  top: -1ch;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .Logotype span {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* background-image: url(https://media.giphy.com/media/xULW8Fw2ZhznUptrYA/giphy.gif); */
    background-color: var(--color-primary);
    background-size: cover;
    background-position: center;
  }
}
