.Link {
  text-decoration: none;
}

.Title {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-15);
  color: var(--color-gray-600);
  margin: 0;

  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 220ms;
}

.Title:hover {
  color: var(--color-primary);
}

.MidiNote {
  width: 150px;
  height: 20px;
  border-radius: var(--space-0-75);
  background-color: var(--color-gray-600);

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 220ms;
}

.MidiNote:hover {
  background-color: var(--color-primary);
}

.OutlineButton {
  padding: var(--space-0-5) var(--space-0-75);
  border-radius: var(--space-0-5);
  border: 1px solid var(--color-gray-300);
  color: var(--color-gray-300);
  text-decoration: none;
}

.OutlineButton:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
