.Container {
  align-items: flex-start;
  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.Container > div {
  flex: 1;

  @media screen and (min-width: 1200px) {
    flex: inherit;
  }
}

.Container svg {
  width: 24px;
  height: auto;

  @media screen and (min-width: 1200px) {
    width: 48px;
  }
}

.Container h3,
.Container h4 {
  margin: 0;
}

.Container h4 {
  padding: var(--space-0-75) var(--space-1-5);
  border-radius: var(--space-0-5);
  background-color: var(--color-gray-700);
  color: var(--color-gray-100);
  font-size: var(--font-size-5);
  flex: 1;

  @media screen and (min-width: 1200px) {
    font-size: var(--font-size-10);
    flex: inherit;
  }
}

.Container h4 {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.Container h4[data-mobile="true"] {
  display: block;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
