---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import ArtWall from '../components/page/Frontpage/ArtWall/ArtWall';
import FeaturedWork from '../components/page/Frontpage/FeaturedWork/FeaturedWork';
import Container from '../components/primitives/Container/Container';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
	<div style="width:100%; height:300px;background-color:var(--color-light-gray);margin-bottom:2rem;"></div>
	<FeaturedWork client:load />
	<ArtWall client:load  />
	<FeaturedWork client:load  />
	<FeaturedWork client:load  />
	<FeaturedWork client:load  />
</RootLayout>
