.Container {
  position: fixed;
  bottom: var(--space-2);
  left: 50%;
  transform: translateX(-50%);
  z-index: 710;

  background: var(--color-gray-600);
  border-radius: var(--space-0-5);
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    background: var(--color-gray-800);
  }
}

.Content {
  display: flex;
  margin: var(--space-0-75) var(--space-1);
  margin-left: 0;
  margin-top: 0;
  height: 150px;
  border-radius: var(--space-0-5);
  overflow: hidden;
}

.WaveformArea {
  position: relative;
}

.WaveformContainer {
  position: relative;
}

.WaveformContainer canvas {
  border-radius: var(--space-0-5);
  overflow: hidden;
}

.Marker {
  position: absolute;
  top: 4px;
  left: 0;
  transform: translateX(var(--x));
  color: var(--color-secondary-300);
}

.Popup {
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: var(--space-0-75) var(--space-1);
  border-radius: var(--space-0-5);
  font-weight: bold;

  background: var(--color-secondary-500);
  color: var(--color-text);

  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;
  z-index: 999;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-instant] {
    transition: none;
  }

  @media (prefers-color-scheme: light) {
    color: var(--color-text-inverted);

    outline: 1px solid var(--color-secondary-300);
    box-shadow:
      0 10px 15px -3px var(--color-secondary-300),
      0 4px 6px -4px var(--color-secondary-300);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-text-inverted);
  }
}

.Arrow {
  display: flex;
  color: var(--color-secondary-500);

  &[data-side="top"] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side="bottom"] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side="left"] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side="right"] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: var(--color-secondary-500);
}
