.Container {
  width: 16px;
  padding: var(--space-0-75);
  padding-top: var(--space-1);

  --transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --duration: 420ms;

  transition-property: width;
  transition-duration: var(--duration);
  transition-timing-function: var(--transition);
}

.ToggleButton {
  background: transparent;
  display: flex;
  border: 0;
  border-radius: var(--space-0-25);
  padding: var(--space-0-25);
  margin: 0;
}

.ToggleButton:hover {
  background: var(--color-gray-700);
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.Header h4 {
  font-size: var(--font-size-4);
  font-weight: bold;
  width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.List {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding-top: var(--space-0-75);
}

/* Hide logic */
.Container .Header h4,
.Container .List {
  opacity: 0;

  transition-property: opacity, width;
  transition-duration: var(--duration);
  transition-timing-function: var(--transition);
}
.Container[data-visible="true"] .Header {
}
.Container[data-visible="true"] .Header h4,
.Container[data-visible="true"] .List {
  opacity: 1;
}
.Container[data-visible="true"] .Header h4 {
  width: auto;
}
.Container[data-visible="true"] {
  width: 300px;
}
