.Container {
  width: 100%;
  padding-top: var(--space-1-5);
}

.Numbers,
.Lines {
  display: flex;
  justify-content: space-between;
}

.Numbers {
  font-size: var(--font-size-1);
  color: var(--color-gray-300);
  text-align: center;
  user-select: none;
}

.Numbers span:nth-child(2n) {
  display: block;
  transform: translateX(20%);
}

.Lines {
  align-items: end;
  padding: 0 1.5px;
}

.GuideLine {
  width: 1.5px;
  height: 5px;
  background: #62626a;
  border-radius: 2px;
}

.GuideLine[data-long="true"] {
  height: 10px;
}
