.Container {
  position: fixed;
  bottom: var(--space-2);
  left: 50%;
  transform: translateX(-50%);
  z-index: 710;
}

.Marker {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(var(--x));
}
