.Container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
}

.Container[data-small="true"] {
  height: 30px;
}

.Container[data-clickthrough="true"] {
  pointer-events: none;
}

.Playhead {
  width: 1.5px;
  color: var(--color-secondary-100);
  background-color: var(--color-secondary-100);
}

.Playhead svg {
  position: absolute;
  left: -4.5px;
  top: -6px;
}
