.SelectedBlogList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.SelectedBlogListItem a {
  display: flex;
  align-items: center;
  gap: var(--space-2);

  position: relative;
  text-decoration: none;
  color: var(--color-black);
}

.SelectedBlogListItem svg {
  width: 36px;
}

.SelectedBlogListItem h3 {
  flex: 1;
  margin: 0;
  position: relative;
  z-index: 420;
  transition-property: color;

  padding: var(--space-0-75) var(--space-1);
  padding-right: var(--space-10);
}

.SelectedBlogListItem {
  display: flex;
  align-items: center;
}

.SelectedBlogListItem:hover a h3,
.SelectedBlogListItem svg path,
.SelectedBlogListItem h3::before {
  transition-timing-function: ease-in-out;
  transition-duration: 420ms;
}

.SelectedBlogListItem h3::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  border-color: var(--color-secondary);
  border-width: 1.5px;
  border-style: solid;
  border-radius: var(--space-0-75);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;

  /* transform: scaleX(0); */
  /* transform-origin: left center; */
  transition-property: opacity, width;
}

.SelectedBlogListItem:hover a h3,
.SelectedBlogListItem a:focus h3 {
  color: var(--color-secondary);
}

.SelectedBlogListItem a:focus h3::before,
.SelectedBlogListItem:hover h3::before {
  /* transform: scaleX(1); */
  width: 100%;
  opacity: 1;
}

.SelectedBlogListItem svg {
  --light: var(--color-light-gray);
  --shadow: var(--color-gray-900);
}

.SelectedBlogListItem svg path {
  transition-property: fill;
}

@keyframes hoverAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--space-1));
  }
  100% {
    transform: translateY(0);
  }
}

.SelectedBlogListItem a:focus svg,
.SelectedBlogListItem:hover svg {
  --light: var(--color-secondary);
  --shadow: var(--color-secondary-hover);

  animation-name: hoverAnimation;
  animation-iteration-count: infinite;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
