.clw-stack {
  --gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.clw-stack.horizontal {
  flex-direction: row;
}

.clw-stack.centered {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .clw-stack.horizontal.responsive {
    flex-direction: column;
  }
}
