.BlogTagInteraction {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 420px;
}

.BlogTagInteraction .BlogPostTitle {
  top: 10%;
}

.BlogTagInteraction .BlogPostTitle h1 {
  color: var(--color-black);
}

.BlogTagInteraction .BlogPostTitle h1::before,
.BlogTagInteraction .BlogPostTitle h1::after {
  -webkit-text-stroke: 1.5px var(--color-black);
}

.BlogTagInteraction .canvas,
.BlogTagInteraction .tags {
  position: absolute;
  top: 0;
  left: 0;
}

.BlogTagInteraction .tags {
  width: 100%;
  display: flex;
}

.BlogTagInteraction .tags .stack {
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--space-15);
  padding: var(--space-4);
}
