.Container {
  width: 100%;
  height: 100dvh;
  display: flex;
  overflow-y: hidden;
}

.CenterFlex {
  justify-content: center;
}

.Content {
  padding-top: var(--space-10);
  padding-bottom: var(--space-6);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.TabContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.ProjectPreview {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  overflow: hidden;
  margin-bottom: var(--space-1);
}

.ProjectImageContainer {
  position: relative;
  width: 50%;
}

.ProjectImage {
  width: 100%;
  height: auto;
}

.ProjectImage[data-index="1"],
.ProjectImage[data-index="2"] {
  width: 60%;

  position: absolute;
  top: 30%;
  z-index: -1;
}

.ProjectImage[data-index="1"] {
  left: -25%;

  transform: rotate(-10deg);
}

.ProjectImage[data-index="2"] {
  right: -25%;
  transform: rotate(10deg);
}

.TitleSliderItem {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-10);
  margin-bottom: var(--space-2);
  padding: 0 var(--space-4);
  text-transform: none;
  border: 0;
  background: transparent;
  flex-shrink: 0;
}

@media screen and (min-width: 1200px) {
  .TitleSliderItem {
    font-size: var(--font-size-15);
  }
}

.TitleSliderItem[data-active="true"] {
  color: var(--color-primary);
}

.ArtSlideContainer {
  flex: 1;
  height: 100%;
}

.ArtSlide {
  position: relative;
  display: flex;
  height: 100%;
  aspect-ratio: 9/16;
}

@media screen and (min-width: 1200px) {
  .ArtSlide.ProjectSlide {
    aspect-ratio: 1/1;
  }
}

.ArtSlide .ArtSlideImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: var(--space-1);
}

.ArtSlide span {
  width: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.ArtSlideExtraImg {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  --distance: 10%;

  transform: translateY(var(--distance)) rotate(0deg);
  opacity: 0;

  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 420ms;
}

.ArtSlideExtraImg:nth-child(2n) {
  top: auto;
  bottom: 0;
  transform: translateY(calc(var(--distance) * -1px)) rotate(0deg);
}

.ArtSlide[data-visible="true"] .ArtSlideExtraImg {
  opacity: 1;
  transform: translateY(50%) rotate(-5deg);
}
.ArtSlide[data-visible="true"] .ArtSlideExtraImg:nth-child(2n) {
  transform: translateY(-50%) rotate(7deg);
}

.ProjectSlide img {
}

.SliderNav {
  justify-content: center;
  align-items: stretch;
}

.SliderNavText {
  align-items: center;
  padding: var(--space-0-5) var(--space-2);
}

.SliderNav small {
  padding: 0 var(--space-0-5);
}
.SliderNav button,
.SliderNavText {
  background: none;
  font-size: var(--font-size-8);
  border: 1.5px solid var(--color-gray-800);
  border-radius: var(--space-0-5);
}

.SliderNav button {
  min-width: 4rem;
  display: flex;
  padding: var(--space-0-5);
  justify-content: end;
  transition: border-color 420ms var(--easing-in-out-quart);
}

.SliderNav button:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.SliderNav button:first-child {
  justify-content: start;
}

.ProjectSlideImage {
  height: 100%;
  display: flex;
}
.ProjectSlideImage img {
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--space-1);
}

.ProjectSlideLink {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  font-size: var(--font-size-12);
}

.ProjectSlideLink span {
  opacity: 0;
  transform: translateY(0);

  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 420ms;
}

.ProjectSlideLink[data-visible="false"] span {
  opacity: 0;
  transform: translateY(20px);
}
