.Container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.Content {
  padding: var(--space-3);
  padding-top: var(--space-10);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TabContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.ProjectPreview {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.ProjectImageContainer {
  position: relative;
  width: 50%;
}

.ProjectImage {
  width: 100%;
  height: auto;
}

.ProjectImage[data-index="1"],
.ProjectImage[data-index="2"] {
  width: 60%;

  position: absolute;
  top: 30%;
  z-index: -1;
}

.ProjectImage[data-index="1"] {
  left: -25%;

  transform: rotate(-10deg);
}

.ProjectImage[data-index="2"] {
  right: -25%;
  transform: rotate(10deg);
}

.TitleSliderItem {
  font-family: var(--font-family-body);
  font-size: var(--font-size-12);
  padding: 0 var(--space-4);
  text-transform: none;
  border: 0;
  background: transparent;
}

.TitleSliderItem[data-active="true"] {
  color: var(--color-primary);
}

.ArtSlideContainer {
  flex: 1;
  height: 100%;
}

.ArtSlide {
  position: relative;
  display: flex;
  height: 100%;
}

.ArtSlide img {
  display: block;
  height: 100%;
  max-height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: var(--space-1);
}
