---
import type { CollectionEntry } from 'astro:content';
import type { FeaturedWorkSlideData } from '../components/page/Frontpage/FeaturedWork/FeaturedWorkSlider/slides';
import ProductPageHeader from '../components/projects/ProductPageHeader/ProductPageHeader';
import ProjectPageContent from '../components/projects/ProjectPageContent';
import ProductPageHeaderFull from '../components/projects/ProductPageHeader/ProductPageHeaderFull';
import "../components/projects/ProjectPage.css"

type Props = {
    project: CollectionEntry<'projects'>
};

const {project} = Astro.props;

---

<section class="ProjectPage">
    <ProductPageHeaderFull project={project} />
    <div class="content">
        <slot />
    </div>
</section>
