---
import type { FeaturedWorkSlideData } from '../components/page/Frontpage/FeaturedWork/FeaturedWorkSlider/slides';
import ProductPageHeader from '../components/projects/ProductPageHeader/ProductPageHeader';
import ProjectPageContent from '../components/projects/ProjectPageContent';


type Props = {
    project: FeaturedWorkSlideData
};

const {project} = Astro.props;

---

<section class="ProjectPage">
    <div transition:name="project-header"  transition:animate="slide">
        <ProductPageHeader work={project} />
    </div>
    <!-- <ProjectPageContent project={project} client:load /> -->
</section>
