---
import React, { type PropsWithChildren } from "react";
import Fonts from "../components/Fonts";
import "../styles/global.css";
import "../styles/tokens.css";
import "../styles/typography.css";
import Header from "../components/sections/Header/Header";
import Navbar from "../components/sections/Header/Navbar/Navbar";
import Footer from "../components/sections/Footer/Footer";

type Props = {};
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="me" href="https://mastodon.gamedev.place/@whoisryosuke" />
    <Fonts />
  </head>
  <body>
    <Header client:load />
    <Navbar client:load path={Astro.url.pathname} />

    <slot />
    
	<Footer client:load  />
  </body>
</html>
