---
import React, { type PropsWithChildren } from "react";
import Fonts from "../components/Fonts";
import "../styles/global.css";
import "../styles/tokens.css";
import "../styles/typography.css";
// import "../styles/transitions.css";
import Header from "../components/sections/Header/Header";
import Navbar from "../components/sections/Header/Navbar/Navbar";
import Footer from "../components/sections/Footer/Footer";
import ClientRouter from "astro/components/ClientRouter.astro";
import { ThemeProvider } from "../components/ThemeProvider";

type Props = {};
---

<html transition:name="root" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="me" href="https://mastodon.gamedev.place/@whoisryosuke" />

    <Fonts />
    
    <ClientRouter />
  </head>
  <body>
    <ThemeProvider client:load transition:persist />
    <Header client:load transition:persist />
    <Navbar client:load path={Astro.url.pathname} transition:persist />
    
    <main transition:animate="slide">
      <slot />
    </main>
    
	  <Footer client:load transition:persist  />
  </body>
</html>
