---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import RootLayout from '../../../layouts/RootLayout.astro';
import { components } from '../../../components/mdx/MDXProvider';
import BlogPost from '../../../layouts/BlogPost.astro';
import Container from '../../../components/primitives/Container/Container';
import Stack from '../../../components/primitives/Stack/Stack';
import SelectedBlogList from '../../../components/page/Frontpage/SelectedBlogs/SelectedBlogList';
import { slugify } from '../../../utils/text';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	const tags = new Set<string>();
    posts.forEach(post => post.data.tags.forEach(tag => tags.add(tag)))


    const tagPaths = [...tags].map((tag) => ({
		params: { tag: slugify(tag) },
		props: {tag},
	}));

    return tagPaths
}
type Props = {tag:string;};

const {tag} = Astro.props;

const posts = await getCollection('blog');
const filteredPosts = posts.filter(post => post.data.tags.includes(tag)).map(post=>({
    title: post.data.title,
    url: post.id
}));

---

<RootLayout>
    <Container>
        <h1>#{tag}</h1>
		<Stack gap="var(--space-6)">
            <SelectedBlogList posts={filteredPosts} />
		</Stack>
    </Container>
</RootLayout>