.SectionHeading {
  position: relative;
  display: flex;
}

.SectionHeading h1,
.SectionHeading h2 {
  margin: 0;
  margin-left: var(--space-2);
}

.SectionHeading .selected-tab {
  width: 200px;
  background: var(--color-light-gray);
  border-radius: var(--space-0-75);
}
